
nav ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: auto
  }

  nav ul {
    list-style-type: none;
}
  
nav {
    width: 100%;
    min-width: 20%;
    display:inline-block;
    border-radius: 20px;
    padding: 5px;
    border-width: 10%;
    text-align: center;
}

nav li:hover {
    transform: scale(125%);
    padding-left: 10.5%;
    padding-right: 10.5%;
}

nav li {
    border: 3px solid black;
    padding-left: 10%;mjnn 
    padding-right: 10%;
    padding-top: 0%;
    Padding-bottom: 0%;
    border-radius: 2em;
    background-color: white;
    margin:auto;
}

nav li:first-of-type {
    border:none;
    padding:none;
    background-color: none;
    width: 20px;
    height: 20px;
}


.Homeicoon {
    width: 1.7em;
    margin: 0 0;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5%;
    Padding-right: 5%;
    }

.episodes {
    width: 1.7em;
    margin: 0 0;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5%;
    Padding-right: 5%;
 }

 .over-ons {
    width: 1.7em;
    margin: 0 0;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5%;
    Padding-right: 5%;
 }

 .achtergrond {
    width: 100%;
    height: 100%;
    
    }